#main {
  margin-top: 5em;
}

/*home page*/
.home h1 {
  margin-bottom: 20px;
}

.home h4 {
  margin-bottom: 30px;
}

/*login and register forms*/
.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px;
}

/*navbar*/
.title-bar {
  background: #333;
  padding: 0.9rem;
}

.top-bar {
  background: #333;
}
.top-bar ul {
  background: #333;
}
.top-bar ul li {
  background: #333;
}
.top-bar ul li a {
  color: #fff;
}
.menu-text {
  color: #fff;
}
.viewOnly {
  color: white;
}
